**Step 1: Importing the libraries**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Step 2: Importing dataset**

In [3]:
data = pd.read_csv('Data.csv')
data.head(10)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

**Step 3: Handling the missing data**

In [4]:
data.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [5]:
data.Age.describe()

count     9.000000
mean     38.777778
std       7.693793
min      27.000000
25%      35.000000
50%      38.000000
75%      44.000000
max      50.000000
Name: Age, dtype: float64

As we can see as the age increse the salary also increses according to age. so we fill the null value related to salary that is 52000 , around that payrange the age will be 29.And for salary we do the same, for age 40 the payrange will be 65000

In [11]:
data.Age.fillna(29.0,inplace=True)
data.Salary.fillna(65000.0,inplace=True)

**Step 4: Encoding categorical data**

In [12]:
data.Purchased.unique()

array(['No', 'Yes'], dtype=object)

In [14]:
data['Purchased'] = data['Purchased'].map({'Yes':1,'No':2})
data.head()

   Country   Age   Salary  Purchased
0   France  44.0  72000.0        NaN
1    Spain  27.0  48000.0        NaN
2  Germany  30.0  54000.0        NaN
3    Spain  38.0  61000.0        NaN
4  Germany  40.0  65000.0        NaN

**Step 5: Creating a dummy variable**

In [19]:
dummy = pd.get_dummies(data,drop_first= True)

**Step 6: Splitting the datasets into training sets and Test sets**

In [20]:
from sklearn.model_selection import train_test_split
x =data[["Age","Salary"]]
y = data["Purchased"]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

**Step 7: Feature Scaling**

In [21]:
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()

In [22]:
x_train = scale.fit_transform(x_train) 
x_test = scale.fit_transform(x_test)